@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/View/img/background.png);
  background-size: cover;
}

.content {
  background-color: #d4af37;
  border-radius: 15px;
  width: 960px;
  height: 60%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: 0px 4px 10px rgb(90, 89, 89);
}

.content::before {
  content: "";
  position: absolute;
  background-color: #0b3c5d;
  width: 40%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  left: 0%;
}

.titulo {
  color: #0b3c5d;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.titulo-primario {
  color: #d4af37;
}

.titulo-secundario {
  color: #0b3c5d;
}

.descricao {
  font-size: 14px;
  font-weight: 300;
  color: white;
  line-height: 30px;
}

.descricao-primaria {
  color: #ffff;
}

.descricao-secundaria {
  color: #0b3c5d;
}

.btn {
  border-radius: 15px;
  text-transform: uppercase;
  color: #ffff;
  font-size: 10px;
  padding: 10px 50px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  width: 180px;
  align-self: center;
  border-width: none;
  margin-top: 1rem;
}

.btn-primario {
  background-color: transparent;
  border: 1px solid #d4af37;
  transition: background-color 0.5s;
}

.btn-primario:hover {
  background-color: #d4af37;
  color: #0b3c5d;
}

.btn-secundario {
  background-color: transparent;
  border: 1px solid #0b3c5d;
  transition: background-color 0.5s;
}

.btn-secundario:hover {
  background-color: #0b3c5d;
  color: #d4af37;
}

.primeiro-conteudo {
  display: flex;
}

.primeiro-conteudo .segunda-coluna {
  z-index: 11;
}

.primeira-coluna {
  text-align: center;
  width: 40%;
  z-index: 10;
}

.segunda-coluna {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redes-sociais {
  margin: 1rem 0;
}

.link-redes-sociais:not(:first-child) {
  margin-left: 10px;
}

.link-redes-sociais .itens-redes-sociais {
  transition: background-color 0.5s;
}

.link-redes-sociais:hover .itens-redes-sociais {
  background-color: #0b3c5d;
  color: #d4af37;
  border-color: #0b3c5d;
}

.lista-redes-sociais {
  display: flex;
  list-style-type: none;
}

.itens-redes-sociais {
  border: 1px solid #d1d3d3;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #d1d3d3;
}

.form {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.form input {
  height: 25px;
  border: none;
  background-color: #ecf0f1;
  width: 100%;
  border-radius: 15px;
}

.input:-webkit-any {
  -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 insert !important;
  -webkit-text-fill-color: #000 !important;
}

.label-input {
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  margin: 8px;
  border-radius: 15px;
}

.icon-modify {
  color: #0b3c5d;
  padding: 0 5px;
}

/*segundo conteúdo*/

.segundo-conteudo {
  position: absolute;
  display: flex;
}

.segundo-conteudo .primeira-coluna {
  order: 2;
  z-index: -1;
}

.segundo-conteudo .segunda-coluna {
  order: 1;
  z-index: -1;
}

.esqueceu-senha {
  color: #0b3c5d;
  font-size: 14px;
  margin: 15px 0;
  text-align: center;
}

.sign-in-js .primeiro-conteudo .primeira-coluna,
.sign-in-js .primeiro-conteudo .segunda-coluna {
  z-index: -1;
}

.sign-in-js .segundo-conteudo .segunda-coluna {
  z-index: 11;
}

.sign-in-js .segundo-conteudo .primeira-coluna {
  z-index: 13;
}

.sign-in-js .content::before {
  left: 60%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  animation: slidein 3s;

  z-index: 12;
}

.sign-up-js .content::before {
  animation: slideout 3s;
  z-index: 12;
}

.sign-up-js .segundo-conteudo .primeira-coluna,
.sign-up-js .segundo-conteudo .segunda-coluna {
  z-index: -1;
}

.sign-up-js .primeiro-conteudo .segunda-coluna {
  z-index: 11;
}

.sign-up-js .primeiro-conteudo .primeira-coluna {
  z-index: 13;
}

/*DESLOCAMENTO POR TRÁS*/

.sign-in-js .primeiro-conteudo .segunda-coluna {
  z-index: -1;
  position: relative;
  animation: deslocamentoEsq 3s;
}

.sign-up-js .segundo-conteudo .segunda-coluna {
  z-index: -1;
  position: relative;
  animation: deslocamentoDir 3s;
}

/*ANIMÇÃO PARA O CONTEUDO*/

@keyframes deslocamentoEsq {

  from {
    left: 0;
    opacity: 1;
    z-index: 12;
  }

  25% {
    left: -80px;
    opacity: .5;
  }

  50% {
    left: -100px;
    opacity: .2;
  }

  to {
    left: -110px;
    opacity: 0;
  }
}

@keyframes deslocamentoDir {

  from {
    left: 0;
    opacity: 1;
    z-index: 12;
  }

  25% {
    left: 80px;
    opacity: .5;
  }

  50% {
    left: 100px;
    opacity: .2;
  }

  to {
    left: 110px;
    opacity: 0;
  }
}

/*ANIMAÇÃO*/

@keyframes slidein {
  from {
    left: 0%;
    width: 40%;
  }

  25% {
    left: 5%;
    width: 50%;
  }

  50% {
    left: 25%;
    width: 60%;
  }

  75% {
    left: 45%;
    width: 50%;
  }

  to {
    left: 60%;
    width: 40%;
  }
}

@keyframes slideout {
  from {
    left: 60%;
    width: 40%;
  }

  25% {
    left: 45%;
    width: 50%;
  }

  50% {
    left: 25%;
    width: 60%;
  }

  75% {
    left: 5%;
    width: 50%;
  }

  to {
    left: 0%;
    width: 40%;
  }
} 