<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/View/css/home.css">
    <link rel="shortcut icon" href="/View/img/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-icons@1.11.3/font/bootstrap-icons.css" />
    <title>Home</title>
</head>

<body>
    <header class="navbar">
        <div class="logo">
            <a href="home.html"><img src="/View/img/Logo.png" alt="Logo"></a>
            <span>Set<span class="destaque">Resume</span></span>
        </div>
    
        <nav class="menu">
            <a href="#"><i class="bi bi-house"></i><span> Home</span></a>
            <a href="suporte.html"><i class="bi bi-headset"></i><span>Suporte</span></a>
            <a href="configuracoes.html"><i class="bi bi-gear-fill"></i><span>Configurações</span></a>
            <a href="#" id="btnPerfil" title="Perfil" onclick="abrirModal()"><i class="bi bi-person"></i><span>Perfil</span></a>
        </nav>
    </header>

    <main>
        <h1>Lorem ipsum dolor sit ameasds</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure error sapiente reprehenderit deserunt distinctio a officiis doloremque quos dolore, deleniti, dolor blanditiis cumque soluta aperiam nihil ut autanimi sunt.</p>
        
        <p><a href="criar_curriculo.html">
            <i class="bi bi-file-earmark-person"></i>
            Criar meu currículo
        </a></p>
    </main>

    <div id="authModal" class="auth-modal">
        <div class="auth-box">
            <button class="fechar-modal" onclick="fecharModal()">
                <i class="bi bi-x-lg"></i>
            </button>

            <h2><img src="/View/img/Logo.png" width="100px" alt=""></h2>
            <p class="sub-auth">Crie sua conta ou entre para continuar</p>

            <a href="login.html" class="botao-auth principal">
                Login
            </a>

            <a href="login.html" class="botao-auth secundario">
                Cadastro
            </a>

            <div class="divisor-auth">
                <span>ou</span>
            </div>

            <button class="social-auth google">
                <i class="bi bi-google"></i> Entrar com Google
            </button>
        </div>
    </div>

    <script>
        function abrirModal() {
            document.getElementById('authModal').classList.add('ativo');
        }

        function fecharModal() {
            document.getElementById('authModal').classList.remove('ativo');
        }
    </script>
</body>

</html>